{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white fw-bold">
                Checkout
            </div>

            <div class="card-body">
                <form method="post" action="{% url 'place_order' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Full Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Address</label>
                        <textarea name="address" class="form-control" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label>Phone</label>
                        <input type="tel" name="phone" class="form-control" required>
                    </div>

                    <h5 class="text-end">Total: ₹{{ total }}</h5>

                    <div class="text-end">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Place Order
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

